@import url("https://fonts.googleapis.com/css?family=Ubuntu");

.page {
    margin-left : 50px;
    margin-right: 50px;
    margin-top: 90px;
    margin-bottom: 90px;
}

.ships_store {
    width: 100%;
    margin-top: 27px;
    margin-bottom: 92px;
    text-align: center;
}

.ship_for_placing {
    display: inline-block;
    margin-right: 25px;
}

.one_decker_for_placing {
}

.two_decker_for_placing {
}

.three_decker_for_placing {
}

.four_decker_for_placing {
}

.one_decker_counter {
    display: inline-block;
    position: relative;
    top: -10px;
    width: 25px;
    height: 25px;
    font-family: Ubuntu;
    font-size: 18px;
    text-align: center;
}

.two_decker_counter {
    display: inline-block;
    position: relative;
    top: -10px;
    width: 25px;
    height: 25px;
    font-family: Ubuntu;
    font-size: 18px;
    text-align: center;
}

.three_decker_counter {
    display: inline-block;
    position: relative;
    top: -10px;
    width: 25px;
    height: 25px;
    font-family: Ubuntu;
    font-size: 18px;
    text-align: center;
}

.four_decker_counter {
    display: inline-block;
    position: relative;
    top: -10px;
    width: 25px;
    height: 25px;
    font-family: Ubuntu;
    font-size: 18px;
    text-align: center;
}

.gray_deck {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: rgb(142, 142, 142);
}

.blue_deck {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: rgb(60, 65, 193);
}

.red_deck {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: rgb(255, 0, 0);
}

.empty_cell {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
}

.miss_cell {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Ubuntu;
}

.filled_cell {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: rgb(142, 142, 142);
    border: 1px solid rgb(0, 0, 0);
}

.hit_cell {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: rgb(142, 142, 142);
    border: 1px solid rgb(0, 0, 0);
    color: rgb(255, 0, 0);
    text-align: center;
    font-family: Ubuntu;
}

.ship_cell {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: rgb(60, 65, 193);
    border: 1px solid rgb(0, 0, 0);
}

.boards {
    text-align: center;
}

.player_board {
    display: inline-block;
    width: 270px;
    height: 270px;
    margin-left: auto;
    margin-right: 100px;
    border: 1px solid rgb(60, 65, 193);
}

.enemy_board {
    display: inline-block;
    width: 270px;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(60, 65, 193);
}

.buttons_panel {
    margin-top: 52px;
    margin-bottom: 52px;
    height: 54px;
    text-align: center;
}

.buttons {
    display: table;
    width: 650px;
    margin: auto;
}

.you_won_btn {
    display: table-cell;
    width: 270px;
    height: 54px;
    border: 1px solid rgb(255, 98, 00);
    text-align: center;
    vertical-align: middle;
}

.you_won_btn__capa {
    position: relative;
}

.you_won_btn__caption {
    position: relative;
    font-family: Ubuntu;
    font-size: 18px;
    color: rgb(255, 98, 00);
}

.buttons_spacer {
    display: table-cell;
    width: 366px;
    height: 54px;
    vertical-align: middle;
}

.you_lose_btn {
    display: table-cell;
    width: 270px;
    height: 54px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    vertical-align: middle;
}

.you_lose_btn__caption {
    position: relative;
    font-family: Ubuntu;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.restart_btn {
    display: table-cell;
    width: 270px;
    height: 54px;
    border: 1px solid rgb(255, 0, 0);
    text-align: center;
    vertical-align: middle;
}

.restart_btn__caption {
    font-family: Ubuntu;
    font-size: 18px;
    color: rgb(255, 0, 0);
}

.shape {
    text-align: center;
}
